html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  body
    p This application executes a simple query on a MySQL database.
    table
      each row in output
        tr
          td= row.date
          td= row.time
          td= row.theme
          td
            a(href='/service/' + row.id) Explore