html
  head
    title Service Manager
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  body
    .container
      h1 Service Manager
      p Click on service for details
      table
        tr
          th DATE
          th TIME
          th THEME
        each row in output
          tr(onclick='window.location="/service/' + row.id + '";')
            td= row.date
            td= row.time
            td= row.theme