a {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: white;
  text-decoration: none;
  font-size: 22px;
}

a span {
  font-size: 50px;
  margin-right: 10px;
  margin-top: -8px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.input {
  margin-top: 20px;
}

label, input, select {
  display:block;
  margin-top: 5px;
}

label, p {
  font-weight: bold;
}